{% extends "base.html" %}

{% block content %}
<table class="server_list">
<thead>
<tr>
    <th colspan="6">Server List</th>
</tr>
<tr>
    <td class="navbar" colspan="6">
    {% if page_obj.has_previous %}
    <a href="{% url techventory.views.server_list 1 %}?ot={{ ot }}&o={{ o }}">&lt&lt</a> 
    <a href="{% url techventory.views.server_list previous %}?ot={{ ot }}&o={{ o }}">&lt</a>
    {% else %}&lt&lt &lt{% endif %}
    
    {% for page_num in paginator.page_range %}
    {% ifequal page_num page %}
    {{ page }}
    {% else %}
    <a href="{% url techventory.views.server_list page_num %}?ot={{ ot }}&o={{ o }}">{{ page_num }}</a>
    {% endifequal %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{% url techventory.views.server_list next %}?ot={{ ot }}&o={{ o }}">&gt</a>
    <a href="{% url techventory.views.server_list paginator.num_pages %}?ot={{ ot }}&o={{ o }}">&gt&gt</a></td>
    {% else %}&gt &gt&gt{% endif %}
</tr>
</thead>
<tfoot>
<tr>
    <td class="navbar" colspan="6">
    {% if page_obj.has_previous %}
    <a href="{% url techventory.views.server_list 1 %}?ot={{ ot }}&o={{ o }}">&lt&lt</a> 
    <a href="{% url techventory.views.server_list previous %}?ot={{ ot }}&o={{ o }}">&lt</a>
    {% else %}&lt&lt &lt{% endif %}
    
    {% for page_num in paginator.page_range %}
    {% ifequal page_num page %}
    {{ page }}
    {% else %}
    <a href="{% url techventory.views.server_list page_num %}?ot={{ ot }}&o={{ o }}">{{ page_num }}</a>
    {% endifequal %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{% url techventory.views.server_list next %}?ot={{ ot }}&o={{ o }}">&gt</a>
    <a href="{% url techventory.views.server_list paginator.num_pages %}?ot={{ ot }}&o={{ o }}">&gt&gt</a></td>
    {% else %}&gt &gt&gt{% endif %}
</tr>
</tfoot>
<tbody>
<tr>
    <th style="width: 10%">
        {% ifequal o 'name' %}
        {% ifequal ot 'asc' %}
        <a href="{% url techventory.views.server_list page %}?o=name&ot=dsc">Hostname</a></th>
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=name&ot=asc">Hostname</a></th>
        {% endifequal %}
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=name&ot=asc">Hostname</a></th>
        {% endifequal %}
    <th style="width: 15%">
        {% ifequal o 'domain' %}
        {% ifequal ot 'asc' %}
        <a href="{% url techventory.views.server_list page %}?o=domain&ot=dsc">Domain</a></th>
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=domain&ot=asc">Domain</a></th>   
        {% endifequal %}
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=domain&ot=asc">Domain</a></th>
        {% endifequal %}
    <th style="width: 15%">
        {% ifequal o 'type' %}
        {% ifequal ot 'asc' %}
        <a href="{% url techventory.views.server_list page %}?o=type&ot=dsc">Type of Server</a></th>
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=type&ot=asc">Type of Server</a></th>
        {% endifequal %}
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=type&ot=asc">Type of Server</a></th>
        {% endifequal %}
    <th style="width: 20%">
        {% ifequal o 'host' %}
        {% ifequal ot 'asc' %}
        <a href="{% url techventory.views.server_list page %}?o=host&ot=dsc">Hosted by</a></th>
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=host&ot=asc">Hosted by</a></th>
        {% endifequal %}
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=host&ot=asc">Hosted by</a></th>
        {% endifequal %}
    <th style="width: 20%">
        {% ifequal o 'host' %}
        {% ifequal ot 'asc' %}
        <a href="{% url techventory.views.server_list page %}?o=ishost&ot=dsc">Virtual Host?</a></th>
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=ishost&ot=asc">Virtual Host?</a></th>
        {% endifequal %}
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=ishost&ot=asc">Virtual Host?</a></th>
        {% endifequal %}
    <th style="width: 20%">
        {% ifequal o 'mod' %}
        {% ifequal ot 'asc' %}
        <a href="{% url techventory.views.server_list page %}?o=mod&ot=dsc">Last Modified</a></th>
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=mod&ot=asc">Last Modified</a></th>
        {% endifequal %}
        {% else %}
        <a href="{% url techventory.views.server_list page %}?o=mod&ot=dsc">Last Modified</a></th>
        {% endifequal %}
</tr>
{% for server in object_list %}
<tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{{ server.get_absolute_url }}">{{ server.hostname }}</a></td>
    <td>{{ server.domain }}</td>
    {% spaceless %}
    <td>
        {% if server.is_physical %}
            Physical
        {% else %}
            Virtual
        {% endif %}
    </td>
    {% endspaceless %}
    <td>{% if server.host %}<a href="{{ server.host.get_absolute_url }}">{{ server.host }}</a>{% else %}None{% endif %}</td>
    <td>{% if server.guest_set.all %}True{% else %}False{% endif %}</td>
    <td>{{ server.last_modified|date:"H:i:s - M d, Y" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}