<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% block stylesheet %}
<link rel="stylesheet" href="{{ MEDIA_URL }}style.css" />
{% endblock %}
<title>{% block title %}Techventory{% endblock %}</title>
</head>
<body>

<div id="header">
{% block header %}
Techventory
{% endblock header %}
</div>

<div id="content">
{% block content %}{% endblock %}
</div>

<div id="footer">
{% block footer %}{% endblock footer %}
</div>

</body>
</html>
